{% extends 'layout.html' %}
{% block content%}
  <section id="about">
    <div class="container">
      <div class="row" id="about-us">
        <div class="col-sm-12 section-heading">
          <h2 style="text-align: center">About Us</h2>
          <p style="text-align: center">IEEE ZSB was established in 1999 by group of engineering students, it’s
            considered one of the first student branches in Egypt, since that date the
            branch helped in serving the students not only of the university but also the
            students of all universities in Egypt. 
            We are one of 3000 student branches
            worldwide working under IEEE umbrella.</p>
        </div>
        <div>
          <h2 style="text-align: center">Vision</h2>
          <p style="text-align: center">Create generations of students as critical thinkers, skillful leaders,
            innovators, more developed and experienced in different fields of science
            and technology.</p>
          <h2 style="text-align: center">Mission</h2>
          <p style="text-align: center">First understanding the needs of the present day job market and identifying skills required from the graduates to meet those needs, then Creating an effective approach by establishing a permanent program that will address the ever-growing gap between graduates skills and the skills demanded by the job market that not provided by the university.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
