{% extends 'layout.html' %}
{% block content%}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#profile" class="nav-link active" data-toggle="tab">Profile</a>
    </li>
    <li class="nav-item">
        <a href="#team" class="nav-link" data-toggle="tab">Team Information</a>
    </li>
    <li class="nav-item">
        <a href="#security" class="nav-link" data-toggle="tab">Security</a>
    </li>
    <li class="nav-item">
        <a href="#notifications" class="nav-link" data-toggle="tab">Notifications & Emails</a>
    </li>
</ul>

<form method="POST" action="" enctype='multipart/form-data'>
    <div class="tab-content">
        {{ form.hidden_tag() }}
            <div class="tab-pane fade show active" id="profile">
                <div class="content-section" enctype='multipart/form-data'>
                  <div class = 'media breakAll'>
                    <img class="rounded-circle account-img" src="{{image_file}}" id='profile_img'>
                    <div class="media-body">
                      <h2 class="account-heading">{{" ".join([current_user.first_name,current_user.last_name])}}</h2>
                      <p class="text-secondary">{{current_user.email}}</p>
                    </div>
                  </div>
                    <div class="form-group" enctype='multipart/form-data'>
                      {{ form.profile_photo(class="form-control-file",id='profile_img_upload') }}
                      {% if form.profile_photo.errors %}
                          {% for error in form.profile_photo.errors %}
                              <span class="text-danger">{{ error }}</span></br>
                          {% endfor %}
                      {% endif %}
                    </div>
                    <script type="text/javascript" src="/static/scripts/image_preview.js"></script>
                    <div class='row'>
                        <div class='col'>
                            <div class="form-group">
                                {{ form.first_name.label(class="form-control-label") }}
                                {% if form.first_name.errors %}
                                    {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.first_name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.first_name(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class='col'>
                            <div class="form-group">
                                {{ form.last_name.label(class="form-control-label") }}
                                {% if form.last_name.errors %}
                                    {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.last_name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.last_name(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label") }}
                        {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="team">

                <div class="content-section" data-toggle="tooltip" data-placement="bottom" title="Contact the high board to make any changes to this section">
                    <div class="form-group">
                        {{ form.department.label(class="form-control-label") }}
                        {% if form.department.errors %}
                            {{ form.department(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.department.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.department(class="form-control form-control-lg",disabled='true') }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.position.label(class="form-control-label") }}
                        {% if form.position.errors %}
                            {{ form.position(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.position.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.position(class="form-control form-control-lg",disabled="true")}}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="security">  
                <div class="content-section" enctype='multipart/form-data'>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.confirm_pass.label(class="form-control-label") }}
                        {% if form.confirm_pass.errors %}
                            {{ form.confirm_pass(class="form-control form-control-lg is-invalid") }}
                            <div class="inconfirm_passvalid-feedback">
                                {% for error in form.confirm_pass.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_pass(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Notifications">
                <div class="content-section" enctype='multipart/form-data'>
                    <legend>Send me a notification when:</legend>
                    {% if current_user.department != 'All' and current_user.position not in permissions['task_submitters'] %}
                        <div class="form-check">
                            {{ form.noti_submit(class="form-check-input") }}
                            {{ form.noti_submit.label(class="form-check-label") }}
                        </div>
                        <div class="form-check">
                            {{ form.noti_excuse(class="form-check-input") }}
                            {{ form.noti_excuse.label(class="form-check-label") }}
                        </div>
                    {% elif current_user.position in permissions['task_submitters']%}
                        <div class="form-check">
                            {{ form.noti_task(class="form-check-input") }}
                            {{ form.noti_task.label(class="form-check-label") }}
                        </div>
                        <div class="form-check">
                            {{ form.noti_review(class="form-check-input") }}
                            {{ form.noti_review.label(class="form-check-label") }}
                        </div>
                        <div class="form-check">
                            {{ form.noti_missed(class="form-check-input") }}
                            {{ form.noti_missed.label(class="form-check-label") }}
                        </div>
                    {% endif %}
                    <div class="form-check">
                        {{ form.noti_announcement(class="form-check-input") }}
                        {{ form.noti_announcement.label(class="form-check-label") }}
                    </div>
                    <div class="form-check">
                        {{ form.noti_meetup(class="form-check-input") }}
                        {{ form.noti_meetup.label(class="form-check-label") }}
                    </div>
                </div>
                <div class="content-section" enctype='multipart/form-data'>
                    <legend>Send me an email when:</legend>
                    {% if current_user.department != 'All' and current_user.position not in permissions['task_submitters'] %}
                        <div class="form-check">
                            {{ form.email_submit(class="form-check-input") }}
                            {{ form.email_submit.label(class="form-check-label") }}
                        </div>
                        <div class="form-check">
                            {{ form.email_excuse(class="form-check-input") }}
                            {{ form.email_excuse.label(class="form-check-label") }}
                        </div>
                    {% elif current_user.position in permissions['task_submitters']%}
                        <div class="form-check">
                            {{ form.email_task(class="form-check-input") }}
                            {{ form.email_task.label(class="form-check-label") }}
                        </div>
                        <div class="form-check">
                            {{ form.email_review(class="form-check-input") }}
                            {{ form.email_review.label(class="form-check-label") }}
                        </div>
                        <div class="form-check">
                            {{ form.email_missed(class="form-check-input") }}
                            {{ form.email_missed.label(class="form-check-label") }}
                        </div>
                    {% endif %}
                    <div class="form-check">
                        {{ form.email_announcement(class="form-check-input") }}
                        {{ form.email_announcement.label(class="form-check-label") }}
                    </div>
                    <div class="form-check">
                        {{ form.email_meetup(class="form-check-input") }}
                        {{ form.email_meetup.label(class="form-check-label") }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form.save(class="btn btn-primary") }}
            <input class="btn btn-danger" type="submit" name="Delete" value="Delete My Account!">
        </div>
    </div>
</form>
<script type="text/javascript" src="/static/scripts/tooltips.js"></script>
{% endblock content %}
