{% from 'macros.html' import notifications_template %}
<html>
<head>
  <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
   <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

   <link rel="stylesheet" type='text/css' href=" {{url_for('static',filename='main.css')}} ">
   <link href="{{url_for('static',filename='img/favicon.png')}}" rel="shortcut icon" type="image/x-icon"/>
  {% if title %}
    <title>{{title}}</title>
  {% else %}
    <title>IEEE ZSB</title>
  {% endif%}
  {% block head %}{% endblock %}
</head>
<body>
{% set department = current_user.department %}
{% set task_creators =['IEEE Chairman','Vice Technical',"RAS Chairman",'RAS Vice Chairman',"Team Leader"]%}
{% set logged_in =current_user.is_authenticated %}
    <!-- Nav bar -->
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" >
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('home')}}">
            <img src="{{url_for('static',filename='img/logo2.png')}}" alt="" id='logo'>
          </a>
          {{ notifications_template(notifications,current_user,'notifications-icon-mobile','navbar-brand',19) }}
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{url_for('home')}}">Home</a>
              <a class="nav-item nav-link" href="{{url_for('about')}}">About</a>
              {% if logged_in and current_user.confirmed%}
                <div style="width:400px;" id=search-div>
                  <input class='form-control form-control-sm search' type="text" id='search' placeholder='Search the website'>
                  <ul class="list-group" id="result"></ul>
                </div>
              {% endif %}
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if logged_in %}
                    {{ notifications_template(notifications,current_user,'notifications-icon-desktop','nav-item nav-link',16) }}
                <div id='nav-elements-mobile' style="padding-right:20px; border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;">
                  {% if department != 'All' %}
                    <a class = "nav-item nav-link" href="{{url_for('due',
                                    department = current_user.department)}}">
                      {% if current_user.position in task_creators %}
                        My Tasks
                      {% else %}
                        Due Tasks
                      {% endif %}
                    </a>
                    <a class = "nav-item nav-link" href="{{url_for('department',department=current_user.department)}}">
                        My Department</a>
                  {% endif %}
                  <a class = "nav-item nav-link" href="{{url_for('meetups')}}">Meet-ups</a>
                  <a class = "nav-item nav-link" href="{{url_for('announcements',
                                department = current_user.department,id =0,noti =0)}}">Announcements</a>
                </div>
                <a class="nav-item nav-link" href="{{url_for('account')}}">{{current_user.first_name}}'s settings</a>
                <a class="nav-item nav-link" href="{{url_for('logout')}}">Logout</a>
              {% else%}
                <a class="nav-item nav-link" href="{{url_for('login')}}">Login</a>
                <a class="nav-item nav-link" href="{{url_for('register')}}">Register</a>
              {% endif%}
            </div>
          </div>
        </div>
      </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 

    <main role="main" class="container">
      <div class="row">
          {% if sidebar %}
            <div class="col-md-4" id ='sidebar'>
              <div class="content-section">
                <h3 style="text-align:center;">Keep Up</h3>
                <p class='text-muted'>
                  <ul class="list-group">
                    {% if department != 'All' %}
                      <li class="list-group-item list-group-item-light">
                        <a class = "article-department" href="{{url_for('due',
                                    department = current_user.department)}}">
                          {% if current_user.position in task_creators %}
                            My Tasks
                          {% else %}
                            Due Tasks
                          {% endif %}
                        </a>
                      </li>
                      <li class="list-group-item list-group-item-light">
                        <a class = "article-department" href="{{url_for('department',department=current_user.department)}}">
                        My Department</a>
                      </li>
                    {% endif %}
                    <li class="list-group-item list-group-item-light">
                      <a class = "article-department" href="{{url_for('meetups')}}">Meet-ups</a>
                    </li>
                    <li class="list-group-item list-group-item-light">
                      <a class = "article-department" href="{{url_for('announcements',
                                  department = current_user.department,id =0,noti =0)}}">Announcements</a>
                    </li>
                  </ul>
                </p>
              </div>
            </div>
          {% endif %}
          {% block column %}{% endblock %}
          <script type="text/javascript">
            sidebar = document.getElementById('sidebar');
            logo = document.getElementById('logo');
            nav_elements_mobile = document.getElementById('nav-elements-mobile');
            notifications_icon_desktop = document.getElementById('notifications-icon-desktop');
            notifications_icon_mobile = document.getElementById('notifications-icon-mobile');
            search_div = document.getElementById('search-div');
            search =document.getElementById('search');
            result =document.getElementById('result');

            var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);

            if (isMobile) {
              if (sidebar){
                sidebar.parentNode.removeChild(sidebar);
              }
              if (notifications_icon_desktop){
                notifications_icon_desktop.parentNode.removeChild(notifications_icon_desktop);
              }
            }
            else{
              result.style.width = search.offsetWidth;
              logo.classList.add("navbar-brand-desktop");
              nav_elements_mobile.parentNode.removeChild(nav_elements_mobile);
              notifications_icon_mobile.parentNode.removeChild(notifications_icon_mobile);
              }
          </script>
          <div class="col">
            <div class = 'alert alert-{{catagory}}' id='msg-category' style='display: none;'>
              <p style="padding: 15px;" id='msg-content'></p>
            </div>
            {% with messages = get_flashed_messages(with_categories = True)%}
              {% if messages %}
                {% for catagory,message in messages%}
                <div class = 'alert alert-{{catagory}}'>
                  {{message}}
                  {% if 'Incorrect' in message%}
                    <small class="text-muted ml-2">
                      <a href="{{ url_for('reset_request',state = 1) }}">Click here to reset your password</a>
                    </small>
                  {% elif 'registered' in message%}
                  <small class="text-muted ml-2">
                      <a href="{{ url_for('register') }}">Click here to register</a>
                    </small>
                  {% endif %}
                </div>
                {% endfor %}
              {% endif %}
            {% endwith%}
            {% block content %}{% endblock %}
          </div>
      </div>
    </main>
  <script type="text/javascript" src="/static/scripts/navbar.js"></script>
  <script type="text/javascript" src="/static/scripts/live_search.js"></script>
  <script type="text/javascript" src="/static/scripts/popovers.js"></script>
</body>
</html>
