{% macro notifications_template(notifications,current_user,id,class,res) %}
    {% if notifications %}
        <a tabindex="0" class="{{class}}" href='#' data-toggle="popover" title="<b>Notifications</b>"
         data-placement="bottom" data-html="true" id='{{id}}' data-content=" 
            <div class='list-group'>
            {% if notifications.count() > 0 %}
             {% for notification in notifications.limit(5) %}
               <a style ='margin-left:-5px;'href='
               {% if notification.type !='submit'%}
                 {{url_for(notification.route,department = notification.sender.department,
                 id = notification.data_id,noti =notification.id)}}
               {% else %}
                 {{url_for(notification.route,department = notification.sender.department,
                   id = notification.task.id,noti =notification.id,submit_id=notification.data_id)}}
                {% endif %}
               '
               class='
               {% if notification.clicked == False %}
                  list-group-item list-group-item-action list-group-item-info'
               {% else %}
                  list-group-item list-group-item-action'
               {% endif %}
                >
                <div class='media'>
                  <img class='rounded-circle noti-img' src='{{url_for('static',filename='profile_pics/'+notification.sender.image_file)}}'>
                  <div class='media-body'>
                    {{notification.data}}
                  </div>
                </div>
                <div class='article-department'>
                    <small class='btn-float-right'>{{notification.date.strftime('%d/%m/%Y, %H:%M')}}</small>
                </div>
               </a>
             {% endfor %}
            {% else %}
              <a class='list-group-item list-group-item-action' style ='margin-left:-5px;' href='#'>
                Woah!! No Notifications, Go find a wife.
              </a>
            {% endif %}
          </div>
          <div>
            <a href='{{url_for('notifications',user_id=current_user.id,mark_as_read=1)}}'>Mark all as read</a>
            <a class='btn-float-right' href='{{url_for('notifications',user_id=current_user.id,mark_as_read=0)}}'>View All</a>
          </div>">
            <svg xmlns="http://www.w3.org/2000/svg" width="{{res}}" height="{{res}}" style='margin-top: 5px;'fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
            </svg>
            {% set count = notifications.filter_by(clicked=False).count() %}
            {% if count != 0%}
              <small class="badge badge-danger">{{count}}</small>
            {% endif %}
        </a>
    {% endif %}
{% endmacro %}
{% macro user_info(form) %}
    <div class="col" id='reg-user-info-div'>
        <legend class="border-bottom mb-4">Join Today</legend>
        {% for field in form %}
            {% if field.type =='StringField' or field.type=='DateField' or field.type=='PasswordField'%}
                {% if field.id =='first_name' or field.id=='password'%}
                    <div class='row'>
                        <div class='col'>
                {% elif field.id== 'last_name' or field.id=='confirm_pass'%}
                        <div class='col'>
                {% endif %}
                            <div class="form-group">
                                {{field.label(class = 'form-control-label')}}<span style="color:#ff0000">*</span>
                                {% if field.errors %}
                                    {{ field(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in field.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {% if field.label=='Email'%}
                                        {{ field(class="form-control form-control-lg",placeholder="name@example.com") }}
                                    {% else %}
                                        {{ field(class="form-control form-control-lg") }}
                                    {% endif %}
                                {% endif %}
                            </div>
                {% if field.id =='first_name' or field.id =='password' %}
                        </div>
                {% elif field.id =='last_name' or field.id =='confirm_pass' %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}

{% macro team_info(form) %}
<div class='col' style="overflow:hidden">
    <legend class="border-bottom mb-4">Team Information</legend>
    <div class="form-group">
        {{ form.position.label(class="form-control-label") }}<span style="color:#ff0000">*</span>

        {% if form.position.errors %}
            {{ form.position(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.position.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.position(class="form-control form-control-lg",onload='check()') }}
        {% endif %}
    </div>
    <div class="form-check" id='diff_pos' style="display:none;">
        {{ form.team_leader(class="form-check-input") }}
        {{ form.team_leader.label(class="form-check-label") }}
        <br></br>
    </div>
    <div class="form-group" id='department_div' style="display:none;">
        {{form.department.label(class="form-control-label")}}<span style="color:#ff0000">*</span>
        {% if form.department.errors %}
            {{ form.department(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.department.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.department(class="form-control form-control-lg") }}
        {% endif %}
    </div>
    {{ form.submit(class="btn btn-outline-info btn-float-right") }}
</div>
{% endmacro %}
{% macro tasks_viewer(tasks,from,len,days,url_extractor,current_user) %}
    {%if from=='home'%}
        {% set tasks = tasks.items %}
    {% endif %}
    {% for task in tasks %}
        <article class="media content-section">
          <img class="rounded-circle data-img" src="{{url_for('static',filename='profile_pics/'+task.author.image_file)}}">
          <div class="media-body breakAll">
            <div class="article-metadata">
              <a class="mr-2" href="{{url_for('profile',username = task.author.username)}}">{{ task.author.first_name + ' ' + task.author.last_name }}</a>
              <small class="text-muted">{{ task.date_posted.strftime("%d/%m/%Y, %H:%M") }}</small>
            </div>
            <h2><a class="article-title" href="{{url_for('view_task',department= task.department,id = task.id,noti=0)}}">{{ task.title }}</a>

              <small><a class="article-department" href="{{url_for('department',department = task.department)}}">{{task.department}}</a></small>
            </h2>
            {% if len(task.content) > 200 %}
              <p class="article-content"> {{url_extractor(task.content[:200])| safe}}</a> .... <a 
              class='read-more' 
              href="{{url_for('view_task',department= task.department,id =task.id,noti= 0)}}">Read More</a>
              </p>
            {% else %}
              <p class="article-content"> {{url_extractor(task.content)|safe}}</p>
            {% endif %}

            <div class="article-metadata">
              {% set date = days(task.deadline) %}
              {% if date <=0 %}
                  <small class="mr-2">due <b>{{days(task.deadline,state='abs')}}</b> days</small><br>
              {% else %}
                  <small class="mr-2">Deadline: <b>{{task.deadline.strftime("%d/%m/%Y")}}</b> </small><br>
              {% endif %}
              {% if task.file %}
                  <a class="text-muted" href="{{url_for('get_file',location = location,filename = task.file)}}">{{task.file}}</a>
              {% else %}
                  <a class="text-muted">No attachments provided</a>
              {% endif %}
            {% if current_user.is_authenticated %}
                {% if task.submits.filter_by(user_id = current_user.id,task_id = task.id).first() %}
                  <small STYLE="color: #4BB543" class="btn-float-right">Submitted</small> 
                {% elif task.excuses.filter_by(user_id= current_user.id,task_id=task.id).first() %}
                  <small STYLE="color: #FFCC00" class="btn-float-right">You have been excused</small>
                {% endif %}
             {% endif %} 
            </div>
          </div>
       </article>
    {% endfor %}
{% endmacro %}