{%from 'macros.html' import user_info,team_info%}
{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class='row' id='desktop'>
            {{user_info(form)}}
            {{team_info(form)}}
        </div>
        <div id='mobile'>
            {{user_info(form)}}
            {{team_info(form)}}
        </div>
    </form>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
    </small>
    <br></br>
</div>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
            position = document.getElementById('position');
            diff_pos =document.getElementById('diff_pos');
            department_div =document.getElementById('department_div');
            checked = document.getElementById('team_leader');
        function pos(){
            state = position.value;
            if (state == 'IEEE Chairman'  || state== 'Vice Technical' || state== 'RAS Chairman' || state=='RAS Vice Chairman') {
                department.selectedIndex= 0;
                department_div.style.display='none';
                diff_pos.style.display='block';  
            }   
            else if ( state== 'Team Leader' || state=='Team Member'){
                department_div.style.display='block';
                diff_pos.style.display='none';
                checked.checked =false;
            }
            else{
                department_div.style.display='none';
                department=document.getElementById('department');
                department.selectedIndex= 1;
                diff_pos.style.display='none';
                checked.checked =false
                }}
        function leader(){
            if (checked.checked ==true){
                department_div.style.display='block';
            }
            else{
                department_div.style.display='none';
            }
        }
        pos()
        leader()
        position.onchange =function(){
            pos();
        }
        checked.onchange =function(){
            leader();
        }});                                    
</script>
{% endblock content %}