{%from 'macros.html' import user_info,team_info%}
{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class='row' id='desktop'>
            {{user_info(form)}}
            {{team_info(form)}}
        </div>
        <div id='mobile'>
            {{user_info(form)}}
            {{team_info(form)}}
        </div>
    </form>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
    </small>
    <br></br>
</div>
<script type="text/javascript" src="/static/scripts/register.js"></script>
{% endblock content %}